/* Containers */
.container {
  display: flex;
  gap: var(--space-4);
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding);
}

.main {
  flex: 1;
  min-width: 0; /* Prevent flex item from overflowing */
}
