/* Aronnax Styles: Buttons */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--space-5);
  border-radius: var(--rounded-full);
  border: var(--border-width) solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: background-color var(--transition-fast), color var(--transition-fast);
}

.btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

.btn i {
  margin-right: var(--margin-sm);
}

/* Outline Button Variant */
.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: var(--border-width) solid var(--border-color);
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* Disabled Button */
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
