.sidebar-content
  nav
    ul.sidebar-nav
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#" data-section="all")
          i.fas.fa-home.sidebar-nav-icon
          span.sidebar-nav-text Home
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#buttons" data-section="buttons")
          i.fas.fa-hand-pointer.sidebar-nav-icon
          span.sidebar-nav-text Buttons
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#forms" data-section="forms")
          i.fas.fa-file-alt.sidebar-nav-icon
          span.sidebar-nav-text Forms
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#cards" data-section="cards")
          i.fas.fa-id-card.sidebar-nav-icon
          span.sidebar-nav-text Cards
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#lists" data-section="lists")
          i.fas.fa-list.sidebar-nav-icon
          span.sidebar-nav-text Lists
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#badges" data-section="badges")
          i.fas.fa-tag.sidebar-nav-icon
          span.sidebar-nav-text Badges
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#loader" data-section="loader")
          i.fas.fa-spinner.sidebar-nav-icon
          span.sidebar-nav-text Loader
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#table" data-section="table")
          i.fas.fa-table.sidebar-nav-icon
          span.sidebar-nav-text Table
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#pagination" data-section="pagination")
          i.fas.fa-ellipsis-h.sidebar-nav-icon
          span.sidebar-nav-text Pagination
