.sidebar-content
  nav
    ul.sidebar-nav
      li.sidebar-nav-item
        a.sidebar-nav-link.active(href="#dashboard")
          i.fas.fa-tachometer-alt.sidebar-nav-icon
          span.sidebar-nav-text Dashboard
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#projects")
          i.fas.fa-folder.sidebar-nav-icon
          span.sidebar-nav-text Projects
          span.sidebar-nav-badge 3
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#tasks")
          i.fas.fa-tasks.sidebar-nav-icon
          span.sidebar-nav-text Tasks
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#team")
          i.fas.fa-users.sidebar-nav-icon
          span.sidebar-nav-text Team
      li.sidebar-nav-item
        a.sidebar-nav-link(href="#settings")
          i.fas.fa-cog.sidebar-nav-icon
          span.sidebar-nav-text Settings
