doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Aronnax Styles Demo
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    link(rel="stylesheet" href="dist/aronnax-styles.css")

  body
    //- Mobile menu toggle button
    label.menu-toggle(for="sidebar-toggle")
      i.fas.fa-bars

    //- Navigation Sidebar
    include sidebar

    .container
      include sections/sidebar_static

      main.main
        include sections/welcome
        include sections/buttons
        include sections/forms
        include sections/cards
        include sections/lists
        include sections/badges
        include sections/loader
        include sections/table
        include sections/pagination

    //- Modal
    include modal

    script(src="dist/aronnax-styles.js")
