doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Aronnax Styles Demo
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    link(rel="stylesheet" href="dist/aronnax-styles.css")

  body
    .container
      include sections/buttons
      include sections/forms
      include sections/cards
      include sections/sidebar_static

      //- Modals & Sidebars
      include modal
      include sidebar

    script(src="dist/aronnax-styles.js")
