input(type="checkbox" id="sidebar-toggle" class="sidebar-toggle")
.sidebar
  .sidebar-header
    h3.sidebar-title Navigation
    label(for="sidebar-toggle" class="sidebar-close")
      i.fas.fa-times
  .sidebar-content
    nav
      ul.sidebar-nav
        li.sidebar-nav-item
          a.sidebar-nav-link.active(href="#dashboard")
            i.fas.fa-tachometer-alt.sidebar-nav-icon
            span.sidebar-nav-text Dashboard
        li.sidebar-nav-item
          a.sidebar-nav-link(href="#projects")
            i.fas.fa-folder.sidebar-nav-icon
            span.sidebar-nav-text Projects
            span.sidebar-nav-badge 3
        li.sidebar-nav-item
          a.sidebar-nav-link(href="#tasks")
            i.fas.fa-tasks.sidebar-nav-icon
            span.sidebar-nav-text Tasks
        li.sidebar-nav-item
          a.sidebar-nav-link(href="#team")
            i.fas.fa-users.sidebar-nav-icon
            span.sidebar-nav-text Team
        li.sidebar-nav-item
          a.sidebar-nav-link(href="#settings")
            i.fas.fa-cog.sidebar-nav-icon
            span.sidebar-nav-text Settings
  .sidebar-footer
    p(style="color: var(--text-muted); font-size: var(--font-size-sm); margin: 0;") Version 1.0.0
label(for="sidebar-toggle" class="sidebar-overlay")
